body {
  background-color: rgb(155, 186, 90);
  color: #000000bf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.btn {
  font-family: "Silkscreen", sans-serif;
  font-size: 25px;
  border: none;
  border-radius: 2px;
  color: #000000bf;
  background-color: rgb(155, 186, 90);
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #000000bf;
  color: rgb(155, 186, 90);
}

#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameBoard {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 5px solid #000000bf;
}

.cell {
  width: 25px;
  height: 25px;
  max-width: 25px;
  max-height: 25px;
  box-sizing: border-box;
  background-color: rgb(155, 186, 90);
}

.snake {
  background-color: #000000bf;
}

.food {
  background-color: #152012bf;
}

#playerName {
  font-family: "Silkscreen", sans-serif;
  border: none;
  border-radius: 2px;
  color: #000000bf;
  text-align: center;
  width: 350px;
  background-color: rgb(155, 186, 90);
  margin-top: 5px;
  font-size: 25px;
}

#playerName:hover {
  font-family: "Silkscreen", sans-serif;
  background-color: #000000bf;
  color: rgb(155, 186, 90);
}

#playerName::placeholder {
  color: #000000bf;
}

#playerName:hover::placeholder {
  color: rgb(155, 186, 90);
}

#head1 {
  font-weight: bold;
  font-size: 45px;
}

#startGameBtn {
  width: 280px;
}

#head2 {
  font-weight: bold;
}

li {
  font-family: "Silkscreen", sans-serif;
  color: #000000bf;
  font-size: 20px;
  list-style-type: decimal;
}