body {
  background-color: rgb(155, 186, 90);
  color: rgb(0, 0, 0, 0.75);
  box-sizing: border-box;
}

#head1 {
  font-size: 55px;
  font-family: "Silkscreen", sans-serif;
  text-align: center;
}

#gameBoard {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 5px solid #000000BF
}

#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cell {
  width: 25px;
  height: 25px;
  max-width: 25px;
  max-height: 25px;
  box-sizing: border-box;
  background-color: rgb(155, 186, 90);
}

.snake {
  background-color: #000000BF;
}

.food {
  background-color: rgb(77, 58, 58);
}

#playerName {
  font-family: "Silkscreen", sans-serif;
  border: none;
  color: #000000BF;
  text-align: center;
  width: 30%;
  background-color: rgb(155, 186, 90);
  margin-top: 20px;
  font-size: 25px;
}

#playerName:hover {
  font-family: "Silkscreen", sans-serif;
  background-color: #000000BF;
  color:rgb(155, 186, 90)
}

#playerName::placeholder {
  color: #000000BF;
  text-align: center;
}

#startGameBtn {
  font-family: "Silkscreen", sans-serif;
  border: none;
  color: #000000BF;
  background-color: rgb(155, 186, 90);
  margin-top: 20px;
  font-size: 25px;
}

#startGameBtn:hover {
  font-family: "Silkscreen", sans-serif;
  background-color: #000000BF;
  color:rgb(155, 186, 90)
}

#scoreList {
  font-family: "Silkscreen", sans-serif;
  color: #000000BF;
  margin-top: 20px;
  font-size: 25px;
}